/*
 * Copyright (c) 2018 Bruno Santos <brunomanuelsantos@tecnico.ulisboa.pt>
 * SPDX-License-Identifier: GPL-3.0-or-later WITH maker-exception-1.0
 */

/* Reduce the white content while retaining a consistent enough colour scheme to
 * to keep the customization minimal. */
body
{
	background-color: #d3d3df;
}

/* Given the fill colour and remaining layout, title area is better in white. */
#titlearea
{
	background-color: White;
}

/* The bit that actually matters: box the contents and centre them on screen
 * massively improving readability. */
div.header
{
	box-shadow: 0px 3px 10px Grey;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
div.contents
{
	background-color: White;
	box-shadow: 0px 3px 10px Grey;
	width: 960px;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
}
